/*Donut Chart*/
#donut-chart-legend ul {
  padding-left: 14px;
  margin-top: 5px;
}

#donut-chart {
  display: flex;
  justify-content: center;
}

li.others {
  width: 150px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
