/* SANKEY */
.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  font-family: arial;
  font-size: 12px;
  pointer-events: none;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}

#sankey-details{
  display: flex;
  align-items: center;
}
/*Sankey Chart*/
.sankey-container {
  display: flex;
  flex-direction: row;
}


/* SANKEY */

/* DONUT */

.donut-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li.others {
  width: 300px;
  float: left;
  margin: 3px 25px;
}

/* DONUT */

/* GEN */
  body {
    font: message-box;
    background-image: url("/assets/TTIMG2.jpg");
    background-size: 63%;
    background-position: 130% -44%;
    background-repeat: no-repeat;
  }
  .outline {
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .sticky-container {
    position: sticky;
    display: flex;
    top: 10px;
    width: max-content;
    background: white;
  }

  .info {
    color: #3366BB;
    position: absolute;
    top: 5px;
    left: 5px;
  }

  .info:hover .info-text {
    visibility: visible;
  }

  .info .info-text {
    visibility: hidden;
    width: max-content;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    padding: 5px;

    /* Position the tooltip */
    position: absolute;
    top: -15px;
    left: 19px;
    z-index: 1;
  }

  .footer {
    font-family: monospace;
    background-color: lightgrey;
  }

  #tt-icon{
    vertical-align: middle;
    padding: 5px;
  }
/* GEN */