/* SANKEY */
.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  font-family: arial;
  font-size: 12px;
  pointer-events: none;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}

#sankey-details{
  display: flex;
  align-items: center;
}
/*Sankey Chart*/
.sankey-container {
  display: flex;
  flex-direction: row;
}


/* SANKEY */

/* DONUT */

#donut-chart-legend {
  margin-left: 20px;
}

.donut-info {
  display: flex;
}

.others-container {
  columns: 100px 2;
}

.others {
  padding: 5px;
}

/* DONUT */

/* GEN */

  body {
    font: message-box;
    background-image: url(https://raw.githubusercontent.com/Julian-Jurai/2018-TT-Budget-Proposal/master/assets/TTIMG3.svg);
    background-size: 80%;
    background-position: 189px -33%;
  }

  #bkg{
    position: absolute;
    z-index: -1;
    right: -154px;
    top: -65%;
    height: 173%;
    width: 65%;
  }

  .outline {
    border: 1px solid black;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: white;
    height: max-content;
  }

  .sticky-container {
    position: sticky;
    display: flex;
    top: 10px;
    width: max-content;
    background: white;
  }

  .info {
    color: #3366BB;
    position: absolute;
    top: 5px;
    left: 5px;
  }

  .info:hover .info-text {
    visibility: visible;
  }

  .info .info-text {
    visibility: hidden;
    width: max-content;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    padding-right: 20px;
    position: absolute;
    top: -15px;
    left: 19px;
    z-index: 1;
  }

  .footer {
    font-family: monospace;
    background-color: lightgrey;
  }

  #tt-icon{
    vertical-align: middle;
    padding: 7px;
  }
/* GEN */